.title {
  text-align: center;
  border: 2px solid black;
  margin: 10px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  border: 2px solid blue;
  padding: 20px;
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border :2px solid  green;
  margin:auto;
  min-width:100vh;
}

.footer {
  margin-top: auto;
  text-align: center;
  padding: 10px;
}
