.title {
  text-align: center;
  margin: 10px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px; 
  gap: 25px;
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
  width:100%;
}

.footer {
  margin-top: auto;
  text-align: center;
  padding: 10px;
}
